<html>
    <head>
      <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
      <link rel="manifest" href="/site.webmanifest">

      <link rel="stylesheet" href='/static/css/base.css'/>

    <title>Gazer</title>
    </head>
    <body>
      <a href="/"><h1><img src="/static/android-chrome-512x512.png" type="image/png" width=40 height=40></a> Gazer </h1>

      <form action="/posts">
        <input type="text" name="tags" value="{{tags}}">

        <label for="limit">Service:</label>
        <select name="service" id="service-select">
          <option value="archive" {{"selected" if service == "archive"}}>Archive</option>
          <option value="gelbooru" {{"selected" if service == "gelbooru"}}>Gelbooru</option>
          <option value="yandere" {{"selected" if service == "yandere"}}>Yandere</option>
          <option value="konachan" {{"selected" if service == "konachan"}}>Konachan</option>
          <option value="lolibooru" {{"selected" if service == "lolibooru"}}>Lolibooru</option>
          <option value="safebooru" {{"selected" if service == "safebooru"}}>Safebooru</option>
        </select>

        {% if service == "archive" %}
        <input type="checkbox" id="dd_enabled" name="dd_enabled" value="enabled" {{"checked" if dd_enabled}}>
        <label for="dd_enabled">DD</label>
        <label for="limit">Sort:</label>
        <select name="sort" id="sort-select">
          <option value="created-desc" {{"selected" if sort == "created-desc"}}>Created - desc</option>
          <option value="created-asc" {{"selected" if sort == "created-asc"}}>Created - asc</option>
          <option value="score-desc" {{"selected" if sort == "score-desc"}}>Score - desc</option>
          <option value="score-asc" {{"selected" if sort == "score-asc"}}>Score - asc</option>
          <option value="views-desc" {{"selected" if sort == "views-desc"}}>Views - desc</option>
          <option value="views-asc" {{"selected" if sort == "views-asc"}}>Views - asc</option>
        </select>
        {% endif %}

        <label for="limit">Limit:</label>
        <select name="limit" id="limit">
          <option value=10 {% if limit == 10 %}selected{% endif %}>10</option>
          <option value=25 {% if limit == 25 %}selected{% endif %}>25</option>
          <option value=50 {% if limit == 50 %}selected{% endif %}>50</option>
          <option value=100 {% if limit == 100 %}selected{% endif %}>100</option>
          <option value=200 {% if limit == 200 %}selected{% endif %}>200</option>
        </select>

        <label for="thumb_size">Thumb Size:</label>
        <select name="thumb_size" id="thumb-size-select" onchange="resizeThumbs()">
          <option value=100 {% if thumb_size == 100 %}selected{% endif %}>100</option>
          <option value=200 {% if thumb_size == 200 %}selected{% endif %}>200</option>
          <option value=300 {% if thumb_size == 300 %}selected{% endif %}>300</option>
          <option value=400 {% if thumb_size == 400 %}selected{% endif %}>400</option>
          <option value=500 {% if thumb_size == 500 %}selected{% endif %}>500</option>
        </select>

        <input type="submit" value="search">
      </form>

      {% block content %}
      {% endblock %}

    </body>
</html>
