{% extends "base.html" %}
{% block content %}
{% if not archived %}
<form action="">
  <input type="hidden" name="service" value="{{service}}">
  <input type="hidden" name="tags" value="{{tags}}">
  <input type="hidden" name="limit" value="{{limit}}">
  <input type="hidden" name="sort" value="{{sort}}">
  <input type="hidden" name="thumb_size" value="{{thumb_size}}">
  <input type="hidden" name="dd_enabled" value="{{dd_enabled}}">
  <input type="hidden" name="archive" value="true">
  <input type="submit" value="Archive">
</form>
{% endif %}

<div id="main">
  <tags>
    <h4>Artist</h4>
    <ul>
    {% for tag in post_tags.artist %}
      <li><a href="/posts?tags={{tag.tag}}&service={{service}}&limit={{limit}}&sort={{sort}}&thumb_size={{thumb_size}}&dd_enabled={{dd_enabled}}">{{tag.tag}}</a></li>
    {% endfor %}
    </ul>
    <h4>Character</h4>
    <ul>
    {% for tag in post_tags.character %}
      <li><a href="/posts?tags={{tag.tag}}&service={{service}}&limit={{limit}}&sort={{sort}}&thumb_size={{thumb_size}}&dd_enabled={{dd_enabled}}">{{tag.tag}}</a></li>
    {% endfor %}
    </ul>
    <h4>Copyright</h4>
    <ul>
    {% for tag in post_tags.copyright %}
      <li><a href="/posts?tags={{tag.tag}}&service={{service}}&limit={{limit}}&sort={{sort}}&thumb_size={{thumb_size}}&dd_enabled={{dd_enabled}}">{{tag.tag}}</a></li>
    {% endfor %}
    </ul>
    <h4>Tags</h4>
    <ul>
    {% for tag in post_tags.tag %}
      <li><a href="/posts?tags={{tag.tag}}&service={{service}}&limit={{limit}}&sort={{sort}}&thumb_size={{thumb_size}}&dd_enabled={{dd_enabled}}">{{tag.tag}}</a></li>
    {% endfor %}
    </ul>
    {% if service == "archive" %}
    <p>
      <details>
      <summary>DD Tags</summary>
      <ul>
      {% for tag in dd_tags.tag %}
        <li><a href="/posts?tags={{tag.tag}}&service={{service}}&limit={{limit}}&sort={{sort}}&thumb_size={{thumb_size}}&dd_enabled={{dd_enabled}}">{{tag.tag}}</a></li>
      {% endfor %}
      </ul>
      </details>
    {% endif %}
    </tags>

    <post>
    {% if post.video %}
      <video controls width=90%>
        <source src="../{{post.file}}" type="video/webm">
      </video>
    {% else %}
      <img src="../{{post.file}}" width=90%>
    {% endif %}
    <p>
    <details>
    <summary>details</summary>
      id: {{post.id}}<p>
      {% if archived %}
        views: {{post.views}}<p>
        booru: {{post.booru}}<p>
      {% endif %}
      source: {{post.source}}<p>
      rating: {{post.rating}}<p>
      score: {{post.score}}<p>
      created: {{post.created_at}}
      </details>
    </post>

</div>
{% endblock %}




    </body>
</html>
