/*
Base template css
*/
body {
  background-color: #121212;
  color: #e6e6e6;
  border-color: #e6e6e6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 10;
}

.search-row {
  margin-left: 10;
}

h1 {
  margin: 10;
  height: 50;
  font-weight: bold;
}

ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

a:link {
        color: #777777;
      }
      a:hover {
        color: #2d8653;
      }

/*
Individual post css
*/
.post-main {
  display: flex;
  flex: 1;
}
.post-main > tags
{
    flex: 0 0 20vw;
    margin-left: 10px;
}

/*
CSS for main posts grid interface
*/

.posts-container {
  display: flex;
  flex-direction: row;
  flex-basis: content;
}

.navigation-button {
  display: flex;
  min-width: 50px;
}

.post-grid {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
  /* padding: 5px; */
}

.post {
  margin: 10px;
}


